spring:
  main:
    allow-circular-references: true
  mvc:
    path-match:
      matching-strategy: ant_path_matcher

  liquibase:
    enabled: true
    change-log: 'classpath:db/liquibase-changeLog.xml'
    contexts: ${LIQUIBASE_CONTEXT:}
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/postgres}
    user: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PWD:password123}