spring:
  main:
    allow-circular-references: true
  mvc:
    path-match:
      matching-strategy: ant_path_matcher

  application:
    name: rock-paper-scissors-2

  liquibase:
    enabled: false

  jmx:
    enabled: false

server:
  port: 8080

management:
  server:
    port: 8091
    base-path: "/"

  endpoints:
    web:
      exposure:
        include: "*"
      base-path: "/actuator"
    jmx:
      exposure:
        exclude: "*"

  endpoint:
    metrics:
      enabled: true
    health:
      enabled: true
    env:
      enabled: true

springdoc:
  swagger-ui:
    path: "/swagger-ui.html"